[submodule "CPP_00"]
	path = CPP_00
	url = https://github.com/pexpalacios/CPP00.git
[submodule "CPP_01"]
	path = CPP_01
	url = https://github.com/pexpalacios/CPP01.git
[submodule "CPP_02"]
	path = CPP_02
	url = https://github.com/pexpalacios/CPP02.git
[submodule "CPP_03"]
	path = CPP_03
	url = https://github.com/pexpalacios/CPP03.git
[submodule "CPP_04"]
	path = CPP_04
	url = https://github.com/pexpalacios/CPP04.git
[submodule "CPP_05"]
	path = CPP_05
	url = https://github.com/pexpalacios/CPP05.git
[submodule "CPP_06"]
	path = CPP_06
	url = https://github.com/pexpalacios/CPP06.git
